{% extends 'base.html' %}

{% block heading %} {{super()}} {% endblock %}


{% block content %}
{% if wrongParser %}
  <div class="row">
      <div class="alert alert-warning col-sm-6">
          <strong>Wrong file</strong> Please make sure to upload only <b>AntiSMASH4.0</b> genebank files
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12" >
          <div class="header">
              <h2 class="text-muted">Upload <b>AntiSMASH 4.0</b> NRP Biosynthetic Gene Cluster Files[Genebank Files]:</h2>
              <h5 class="text-muted"> Please make sure the uploaded file(s) are genebank files with the following extension .gbk:</h5>
              <h5 class="text-muted"> Please make sure the uploaded file(s) are only individual NRPS clusters and not final.gbk:</h5>
              <h5 class="text-muted"> if not sure, please
                  <a href="{{ url_for('getuploadExamples') }}"> click here:</a>
              </h5>
          </div>
          <br>
      </div>
      <div class="col-sm-12">
          <form style="font-size: large" action="{{ url_for('uploadFour') }}" method="post" enctype="multipart/form-data">
              <input type="file" multiple="" name="file[]" class="span3" /><br />
              <input type="submit" value="Upload"  class="span2" onclick="loading22()">
          </form>
      </div>
  </div>
{% else %}
<div id="atca_units" class="container-fluid">
    <div class="row">
        <div class="col-sm-12" >
            <div class="header">
                <h2 class="text-muted">Upload <b>AntiSMASH 4.0</b> NRP Biosynthetic Gene Cluster Files:</h2>
                <h5 class="text-muted"> Please make sure the uploaded file(s) are genebank files with the following extension .gbk:</h5>
                <h5 class="text-muted"> if not sure, please
                    <a href="{{ url_for('getuploadExamples') }}"> click here:</a>
                </h5>
            </div>
            <br>
        </div>

        <div class="col-sm-12">
            <form style="font-size: large" action="{{ url_for('uploadFour') }}" method="post" enctype="multipart/form-data">
                <input type="file" multiple="" name="file[]" class="span3" /><br />
                <input type="submit" value="Upload"  class="span2" onclick="loading22()">
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block footer %} {{super()}} {% endblock %}
