{% extends "base.html" %}

{% block heading %} {{super()}} {% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-sm-5">
        <h2>Example of an Upload File</h2>
        <div class="list-group">
            <a href="{{url_for('getAntiSMASH3_files') }}" class="list-group-item">
      <h4 class="list-group-item-heading">Examples of antiSMASH3.0 Biosynthetic Gene Clusters</h4>
      <p class="list-group-item-text" style="color:blue;">antiSMASH3.0_BGCs</p>
    </a>
            <a href="{{url_for('getAntiSMASH4_files') }}" class="list-group-item">
                <h4 class="list-group-item-heading">Examples of antiSMASH4.0 Biosynthetic Gene Clusters</h4>
                <p class="list-group-item-text" style="color:blue;">antiSMASH4.0_BGCs</p>
            </a>
        </div>
    </div>
</div>
</div>

{% endblock %}



{% block footer %} {{super()}} {% endblock %}
