
{% extends 'base.html' %}

{% block heading %} {{super()}} {% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-6">
      <h2 class="text-muted"> All linkers within Genus Bacillus 1</h2>
      <img src="/static/Graphs/Bacillus_clean2_graphFile_T_NX.png" class="img-rounded" alt="BACILLUS">
    </div>
    <div class="col-sm-6">
      <h2 class="text-muted"> All linkers within Genus Bacillus 1</h2>
      <img src="/static/Graphs/BACILLUS2.png" class="img-rounded" alt="BACILLUS">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <h2 class="text-muted"> All linkers within Genus Bacillus 2</h2>
      <img src="/static/Graphs/bacillus_809_graphFile_T.png" class="img-rounded" alt="BACILLUS">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <h2 class="text-muted"> All linkers within NCBI database 1</h2>
      <img src="/static/Graphs/ncbi_809_graphFile_T.png" class="img-rounded" alt="BACILLUS">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <h2 class="text-muted"> All linkers within NCBI database 2</h2>
      <img src="/static/Graphs/ncbi_810_graphFile_T.png" class="img-rounded" alt="BACILLUS">
    </div>
</div>

{% endblock %}


{% block footer %} {{super()}} {% endblock %}
