<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NRPS-Linker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/home.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function() {
               $('#NCBI_DB_all').click(function() {
                   alert("'NCBI IMLs' is a much larger database. So please give it up to a minute or two [depending on your internet speed] to be completely downloaded.");});
            } );
        </script>

        {% block javascript %} {% endblock %}

       </head>

    <body>
        <div id="content_all">
            <div id="headerBlock"  class="container-fluid">
            {% block heading %}
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="{{ url_for('main') }}">NRPS-Linker</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('getTutorial') }}">Tutorial</a></li>
                        <li><a href="{{ url_for('getuploadExamples') }}"> Example of Upload Files</a></li>
                        <li><a href="{{ url_for('downloadLib') }}">Downloads</a></li>
                        <li><a href="{{ url_for('getinfo') }}">Contact</a></li>
                    </ul>
                  </div>
                </nav>
                <div class= container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="{{ url_for('main') }}"><img src="/static/images/Logomakr_2uUc9P.png" style="width: 250px"></a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <h1 id="title" >Inter-Modular Linkers</h1>
                            <h1 id="title" >Within Bacterial NRP Biosynthetic Pathways</h1>
                        </div>
                       <div class="col-lg-3" align="right">
                                <a href="https://chembench.mml.unc.edu/" target="_blank"><img src="/static/images/Screenshot%202017-03-09%2022.24.02.png" style="width: 250px"></a>
                        </div>
                    </div>
                    <hr style="height:3px;border:none;color:#333;background-color:#333;"/>
                </div>
                <div class="container-fluid">
                  <ul class="nav nav-tabs nav-justified">
                    <li><a href="{{ url_for('main') }}" style="font-size: medium">Home</a></li>
                    <li> <a href="{{ url_for('doParse') }}" style="font-size: medium">Parser</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: medium"> IMLs Database <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ url_for('getMIBiGLinkers') }}" style="font-size: medium">MIBiG Inter-Modular Linkers</a></li>
                        <li><a href="{{ url_for('getNCBILinkers') }}" style="font-size: medium" id="NCBI_DB_all">NCBI Bacteria RefSeq Inter-Modular Linkers</a></li>
                      </ul>
                    </li>
                    <li><a href="{{ url_for('setPeptidebasedDesignPage') }}" style="font-size: medium">NRPS Design</a></li>
                    <li> <a href="{{ url_for('getAnalysis')}}" style="font-size: medium">Analysis</a></li>
                    <li> <a href="{{ url_for('getDataSummary')}}" style="font-size: medium">Data Summary</a></li>
                  </ul>
                </div>
            {% endblock %}
            </div>
            <div id="contentBlock" class="container-fluid">

                {% block content %} {% endblock %}

            </div>
            <div id="footerBlock" class="container-fluid">
                {% block footer %}
                <hr style="height:3px;border:none;color:#333;background-color:#333;"/>
                <div class="row">
                    <div class="col-sm-12 text-center">
                      Copyright © mml.unc.edu
                    </div>
                </div>
                 <br>
                <div class="row text-center">
                    <div class="col-sm-3">
                        <a href="https://antismash.secondarymetabolites.org/#!/start" target="_blank">
                            <img class="center-block" style="border:0;width:70px;height:70px"
                                src="/static/images/antismash_logo.png" alt="antiSmash" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://mibig.secondarymetabolites.org" target="_blank">
                         <img class="center-block" style="border:0;width:110px;height:80px"
                                src="/static/images/mibig_logo.jpg" alt="MiBiG" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://pythonprogramming.net" target="_blank">
                               <img class="center-block" style="border:0;width:150px;height:70px"
                                src="/static/images/pythonLogo2.png" alt="Python" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.ncbi.nlm.nih.gov/" target="_blank">
                            <img class="center-block" style="border:0;width:200px;height:100px"
                                src="/static/images/NCBI2.png" alt="NCBI" />
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3">
                        <a href="http://bioinfo.lifl.fr/" target="_blank">
                         <img class="center-block" style="border:0;width:110px;height:80px"
                                src="/static/images/norine.png" alt="Norine" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://pharmacy.unc.edu" target="_blank">
                            <img class="center-block" style="border:0;width:250px;height:100px"
                                src="/static/images/UNC.png" alt="UNC" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <a href="https://logomakr.com" target="_blank">
                            <img class="center-block" style="border:0;width:150px;height:100px"
                                src="/static/images/logoMaker.jpg" alt="logoMakr" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
                            <img class="center-block" style="border:0;width:180px;height:70px"
                                src="/static/images/flask.png" alt="Flask" />
                        </a>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
