{% extends "base.html" %}

{% block heading %} {{super()}} {% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-sm-5">
      <h2>Downloadable Files:</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p><font size="4"><b>MIBiG Data:</b></font><sup><font color="red"> Till Feb. 2017</font></sup> </p>
        <div class="list-group">
        <a href="{{url_for( "download_MIBiG1") }}" class="list-group-item">
          <h4 class="list-group-item-heading">MIBiG Inter-Modular Linkers</h4>
          <p class="list-group-item-text" style="color:blue;">MIBiG_IMLs1 [586]</p>
        </a>
        <a href="{{url_for( "download_MIBiG2") }}" class="list-group-item">
          <h4 class="list-group-item-heading">MIBiG Inter-Modular Linkers<sup><font color="red">*</font></sup></h4>
          <p class="list-group-item-text" style="color:blue;">MIBiG_IMLs2 [902]</p>
        </a>
        <a href="{{url_for( "download_zip")}}" class="list-group-item">
          <h4 class="list-group-item-heading">All NRP MIBiG Biosynthetic Gene clusters</h4>
          <p class="list-group-item-text" style="color:blue;">MIBiG_BGCs</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
        <p><font size="4"><b>NCBI Data:</b></font><sup><font color="red"> Till Jan. 2017</font></sup> </p>
        <div class="list-group">
        <a href="{{url_for("download_NCBI1") }}" class="list-group-item">
          <h4 class="list-group-item-heading">NCBI Bacteria RefSeq Inter-Modular Linkers</h4>
          <p class="list-group-item-text" style="color:blue;">NCBI_IMLs1 [17445]</p>
        </a>
        <a href="{{url_for("download_NCBI2") }}" class="list-group-item">
          <h4 class="list-group-item-heading">NCBI Bacteria RefSeq Inter-Modular Linkers <sup><font color="red">*</font></sup></h4>
          <p class="list-group-item-text" style="color:blue;">NCBI_IMLs2 [38902]</p>
        </a>
        <a href="{{url_for("download_NCBI3") }}" class="list-group-item">
          <h4 class="list-group-item-heading">List of NCBI Bacterial RefSeq Genomes</h4>
          <p class="list-group-item-text" style="color:blue;">NCBI_genomes_list</p>
        </a>
      </div>
    </div>
</div>
<div class="row">
         <div class = "col-sm-12">
             <p>
                 * Our tool processes non-ribosomal peptide biosynthetic gene clusters after being identified using the <a href="https://antismash.secondarymetabolites.org/#!/start">AntiSMASH tool</a>.
                 In the process of scanning and identifying NRP BGCs, AntiSMASH uses three algorithms to predict the specificity of the NRPS adenylation domain
                 (<a href="https://www.ncbi.nlm.nih.gov/pubmed/17400247">Minowa .et.al</a>, <a href="https://www.ncbi.nlm.nih.gov/pubmed/21558170" target="_blank">Roettig, M et.al</a>,
                 <a href="https://www.ncbi.nlm.nih.gov/pubmed/10421756" target="_blank">Stachelhaus et.al</a>). If all three algorithms agree on the same predicted substrate then it will be used as the substrate of choice by AntiSMASH,
                 otherwise, AntiSMASH uses the term 'nrp' for all unidentified NRPS substrates. Hence, some IMLs may look as follows (e.g Ala-linker-Ser), if both substrates are well identified, others will look like (nrp-linker-Ser)
                 or even sometimes (nrp-linker-nrp), with one or two unidentified substrates. Thus under each Data (MIBiG and NCBI), there are two tables, one where all linkers are included (larger data) and the other one lacks all "nrp containing linkers" (smaller data).
             </p>
         </div>
    </div>
</div>

{% endblock %}



{% block footer %} {{super()}} {% endblock %}


